rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Cada usuario lee y escribe únicamente sus propios datos.
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
